<ng-container *ngIf="gridStatus != null; then loaded; else loading"></ng-container>
<ng-template #loaded>
  <h1>Group: {{groupName}}</h1>
  <h3>Region: {{gridStatus.region}}</h3>
  <h3>Last Updated: {{gridStatus.date | date: 'dd/MM/yyyy'}}, {{gridStatus.date | date: 'HH:mm'}}</h3>
  <h3>Energy consumption: {{gridStatus.consumption | number : '1.0-1'}} kWh</h3>
  <h3>Energy Production: {{gridStatus.production | number : '1.0-1'}} kWh</h3>
</ng-template>
<ng-template #loading>
  <ng-container *ngIf="available; else unavailable">
    <mat-spinner></mat-spinner>
  </ng-container>
</ng-template>
<ng-template #unavailable>
  <h1>Grid Unavailable</h1>
</ng-template>
