<div class="center">
    <div class="toolbar-margin">
        <h1>Grid simulation influenced by weather</h1>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
            <div fxFlex="90%">
                <h3>Weather details</h3>
            </div>
            <div fxFlex="10%">
                <span><button mat-raised-button color="accent" (click)="simulate()">Simulate</button></span>
            </div>
        </div>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
            <div fxFlex="40%">
                <span>
                    <mat-form-field style="width:30vw">
                        <mat-label>Wind speed (between 0 to 50)</mat-label>
                        <input matInput [(ngModel)]="windSpeed" type="number" min="0" max="50" placeholder="Wind speed in m/s" required>
                    </mat-form-field>
                </span>
            </div>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
            <div fxFlex="40%">
                <span>
                    <mat-form-field style="width:30vw">
                        <mat-label>Air pressure (between 1000 to 1100)</mat-label>
                        <input matInput [(ngModel)]="pressure" type="number" min="1000" max="1100"placeholder="Air pressure in hectopascals" required>
                    </mat-form-field>
                </span>
            </div>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
            <div fxFlex="40%">
                <span>
                    <mat-form-field style="width:30vw">
                        <mat-label>UV-index (between 0 to 10)</mat-label>
                        <input matInput [(ngModel)]="uvIndex" type="number" min="0" max="10"placeholder="UV-index" required>
                    </mat-form-field>
                </span>
            </div>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
            <div fxFlex="40%">
                <span>
                    <mat-form-field style="width:30vw">
                        <mat-label>Temperature (between -30 to 50)</mat-label>
                        <input matInput [(ngModel)]="temperature" type="number" min="-30" max="50" placeholder="Temperature in degrees Celsius" required>
                    </mat-form-field>
                </span>
            </div>
        </div>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
            <div fxFlex="40%">
                <span>
                    <mat-form-field style="width:30vw">
                        <mat-label>Cloud cover (between 0 to 1)</mat-label>
                        <input matInput [(ngModel)]="cloudCover" step="0.1" type="number" min="0" max="1" placeholder="Cloud cover" required>
                    </mat-form-field>
                </span>
            </div>
        </div>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
            <div fxFlex="100%" class="dashboard-margin">
            </div>
        </div>

        <div *ngIf="ifSimulated()" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
            <div fxFlex="90%">
                <h3>Hourly solarpanel production (in Watt): {{solarPanelProduction}}</h3>
            </div>
            <div fxFlex="10%">
                
            </div>
        </div>

        <div *ngIf="ifSimulated()" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
            <div fxFlex="90%">
                <h3>Hourly windmill production (in Watt): {{windmillProduction}}</h3>
            </div>
            <div fxFlex="10%">
                
            </div>
        </div>
    </div>
</div>