<div class="center">
  <div class="toolbar-margin">
    <h1>{{'dashboard.header' | translate}}</h1>

    <div>
      <h3>{{'dashboard.usage-header' | translate}}</h3>
      <div *ngIf="usage == -1 && usagePrice == -1; then loadUsageBlock else usageBlock"></div>
      <ng-template #loadUsageBlock>
        <mat-spinner></mat-spinner>
      </ng-template>
      <ng-template #usageBlock>
        <h1 class='dashboard-text'>{{usage}} kWh</h1>
        <h1> {{'dashboard.usage' | translate}} &euro; {{usagePrice}} </h1>
      </ng-template>
    </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'dashboard.production-graph-button' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="center">
        <app-usage></app-usage>
      </div>
    </mat-expansion-panel>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="100%" class="dashboard-margin">
      </div>
    </div>

    <div>
      <h3>{{'dashboard.production-header' | translate}}</h3>
      <div *ngIf="producing == -1 && producingPrice == -1; then loadProducingBlock else producingBlock"></div>
      <ng-template #loadProducingBlock>
        <mat-spinner></mat-spinner>
      </ng-template>
      <ng-template #producingBlock>
        <h1 class='dashboard-text'>{{producing}} kWh</h1>
        <h1> {{'dashboard.producing' | translate}} &euro; {{producingPrice}} </h1>
      </ng-template>
    </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'dashboard.production-graph-button' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="center">
        <app-production></app-production>
      </div>
    </mat-expansion-panel>

  </div>
</div>
