.dashboard-text {
	font-size: 30px;
}

.dashboard-margin {
	height: 100px;
}

mat-grid-tile-header {
	background-color: #1b9fe4;
}

.toolbar-margin {
	margin-top: 30px;
	margin-bottom: 300px;
	position: relative;
}
