<!-- <ng-container *ngIf="isLoggedIn; then loggedIn; else loggedOut"> </ng-container> -->

<header class="w3-container w3-blue w3-center">
  <div class="header-container">
    <p class="w3-xlarge">{{ 'home.header' | translate }}</p>


    <div *ngIf="!isLoggedIn">
      <button mat-raised-button color="accent" (click)="login()">
        {{ 'home.login-button' | translate }}
      </button>
    </div>
  </div>
</header>

<div class="center">
  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h5 class="w3-padding-32 w3-center">
          <h1 class="header-text">{{ 'home.text' | translate }}</h1>
        </h5>
      </div>

      <div class="w3-third w3-center">
        <em class="fa fa-bolt w3-text-green"></em>
      </div>
    </div>
  </div>
</div>
