.header-container {
  top: 50%;
  margin-top: 130px;
  margin-right: 320px;
  font-size: 30px;
  color: #448aff;
}

.paragraph-text {
  font-size: 25px;
  // padding-top: 50px;
  display: inline;

}


.login {
  margin-top: 50px;

  .mat-button {
    width: 450px;
    margin-top: 100px;
    height: auto;
    margin-right: 20px;
    text-align: center;
  }
}

.main-content {
  margin-bottom: 70px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

.w3-bar,
h1,
button {
  font-family: 'Montserrat', sans-serif;
}

.fa-bolt {
  font-size: 200px;
}

.w3-blue {
  background-image: url('https://www.engie-energie.nl/-/media/engie-consument/campagne/2020/zon/engie%20keyvisual%20header_consument_1920x600_wt.jpg');
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
