<form class="form">
  <div id="nextButton">
    <p>
      <span class="finish-button"><button mat-raised-button color="accent" (click)="finishClick()">Save and finish add
          customer</button></span>
    </p>
  </div>
  <div class="center">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="50%">
        <h1>Adding solar panels</h1>
        <mat-form-field class="full-width">
          <mat-label>Square meters</mat-label>
          <input matInput type="number" required [formControl]="numberOfSquares">
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
          <mat-label>Amount</mat-label>
          <input matInput type="number" required [formControl]="solarPanelAmount">
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" (click)="addSolarPanelClick()">Add solar panel</button>
        </div>
      </div>
      <div fxFlex="50%">
        <h1>Added solar panels</h1>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef>{{column}}</th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
      </div>
    </div>
  </div>
</form>
