<div class="center">

<div class="header-div">
    <h1 class="header-text">Login PowerPrice</h1>
    <p>Login to see more about your energy grid</p>
  <img class="header-image" src="https://i.imgur.com/7I8tU5N.png"/>
</div>
  <div class="login-div">
<div *ngIf="!loggedIn; else fillSpace">
    <h2></h2>
    <span><button class="login-button" mat-raised-button color="primary" (click)="login()">Login</button></span>
</div>
<ng-template #fillSpace>
    <div class="fill-space">
    </div>
</ng-template>

</div>
<hr>
<div class="faq-div">

</div>




</div>
