.header-image {
    width:45%;
    text-align: center;
}

.header-text {
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 30px;
    font-family: 'Montserrat';
}

.faq-text {
    text-align: center;
    font-size: 40px;
}

.faq-div {
    margin-top: 100px;
}

.fill-space {
    height:50px;
}
.login-button {
    font-family: 'Montserrat';
    width:20%;
    height:auto;
}

.login-div {
    margin-bottom: 2%;
    text-align: center;
}

.header-div {
    margin-bottom: 1%;
    text-align: center;
    font-family: 'Montserrat';
}
