<ng-container *ngIf="isLoggedIn; then loggedIn; else loggedOut"> </ng-container>
<ng-template #loggedIn>
  <mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button color="accent" routerLink="/">
      <mat-icon>home</mat-icon>
      Power Price
    </button>
    <span class="fill-toolbar"></span>
    <span class="toolbar-button"><button mat-raised-button color="accent" routerLink="/dashboard">
        Dashboard</button></span>

    <button mat-icon-button class="login" (click)="login()" color="accent">
      <mat-icon> account_circle </mat-icon>
      {{username}}
    </button>
    <app-language-button></app-language-button>
    <span><button mat-button color="accent" (click)="logOut()">
        {{ 'toolbar.logout' | translate }}
      </button></span>
  </mat-toolbar>
</ng-template>

<ng-template #loggedOut>
  <mat-toolbar class="toolbar">
    <button mat-icon-button color="accent" routerLink="/">
      <mat-icon>home</mat-icon>
      Power Price
    </button>
    <span class="fill-toolbar"></span>
    <button mat-icon-button class="login" (click)="login()" color="accent">
      <mat-icon> account_circle </mat-icon>
      {{ 'toolbar.my-power-price' | translate }}
    </button>
    <app-language-button></app-language-button>
  </mat-toolbar>
</ng-template>
