/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.center {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3%;
}
