<div class="center">
    <div class="container" style="height: 300px;" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start">
        <div fxFlex="30%" class="status-div">
            <app-grid-status [gridStatus]="group1Status" [available]="group1Available" [groupName]="'S63-1'"></app-grid-status>
        </div>
            <div fxFlex="2%" class="vertical-line"></div>
        <div fxFlex="68%" class="status-div">
            <app-grid-status [gridStatus]="group2Status" [available]="group2Available" [groupName]="'S63-2'"></app-grid-status>
        </div>
    </div>
    <hr>
    <div class="container" style="height: 300px;" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center"
        fxLayoutWrap>
        <div fxFlex="30%" class="status-div">
            <app-grid-status [gridStatus]="group3Status" [available]="group3Available" [groupName]="'S63-3'"></app-grid-status>
        </div>
        <div fxFlex="2%" class="vertical-line"></div>

        <div fxFlex="68%" class="status-div">
            <app-grid-status [gridStatus]="group4Status" [available]="group4Available" [groupName]="'S63-4'"></app-grid-status>
        </div>
    </div>
</div>