<div>
    <app-line-graph [data]="productionDetails" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"></app-line-graph>
</div>
<div class="date-div">
    <h1>{{'dashboard.graph-date-header' | translate}}</h1>
    <mat-form-field>
        <mat-label>{{'dashboard.graph-minimumDate' | translate}}</mat-label>
        <input class="minDate" matInput [min]="minimumProductionDate" [max]="maximumProductionPickerValue"
            [matDatepicker]="minimumPicker" (dateChange)="onMinDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="minimumPicker"></mat-datepicker-toggle>
        <mat-datepicker #minimumPicker [startAt]="minimumProductionDate"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'dashboard.graph-maximumDate' | translate}}</mat-label>
        <input class="maxDate" matInput [min]="minimumProductionPickerValue" [max]="maximumProductionDate"
            [matDatepicker]="maximumPicker" (dateChange)="onMaxDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="maximumPicker"></mat-datepicker-toggle>
        <mat-datepicker #maximumPicker [startAt]="maximumProductionDate"></mat-datepicker>
    </mat-form-field>
</div>