<div class="center">
  <div class="toolbar-margin">
    <h1>Add customer</h1>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="40%">
        <span>
          <mat-form-field style="width:30vw">
            <mat-label>Code</mat-label>
            <input [(ngModel)]="code" matInput placeholder="C1001" required>
          </mat-form-field>
        </span>
      </div>
    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="40%">
        <span>
          <mat-form-field style="width:30vw">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="emailAddress" matInput type="email" placeholder="example@powerprice.nl" required>
          </mat-form-field>
        </span>
      </div>
    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="20%">
        <span>
          <mat-form-field style="width:14vw">
            <mat-label>First name</mat-label>
            <input [(ngModel)]="firstName" matInput placeholder="John" required>
          </mat-form-field>
        </span>
      </div>
      <div fxFlex="20%">
        <span>
          <mat-form-field style="width:14vw">
            <mat-label>Last name</mat-label>
            <input [(ngModel)]="lastName" matInput placeholder="Doe" required>
          </mat-form-field>
        </span>
      </div>
    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="20%">
        <span>
          <mat-form-field style="width:14vw">
            <mat-label>Streetname</mat-label>
            <input [(ngModel)]="streetName" matInput placeholder="Oxford street" required>
          </mat-form-field>
        </span>
      </div>
      <div fxFlex="20%">
        <span>
          <mat-form-field style="width:14vw">
            <mat-label>Streetnumber</mat-label>
            <input [(ngModel)]="streetNumber" matInput type="number" placeholder="9" required>
          </mat-form-field>
        </span>
      </div>
    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="20%">
        <span>
          <mat-form-field style="width:14vw">
            <mat-label>Post address</mat-label>
            <input [(ngModel)]="postAddress" matInput placeholder="9999AB" required>
          </mat-form-field>
        </span>
      </div>
      <div fxFlex="20%">
        <span>
          <mat-form-field style="width:14vw">
            <mat-label>Country</mat-label>
            <input [(ngModel)]="country" matInput placeholder="Nederland" required>
          </mat-form-field>
        </span>
      </div>
    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="40%">
        <span>
          <mat-form-field style="width:30vw">
            <mat-label>Buildingtype</mat-label>
            <mat-select [(value)]="buildingType">
              <mat-option *ngFor="let buildingtype of buildingTypes" [value]="buildingtype">
                {{buildingtype}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </div>
    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="20%">
        <span>
          <mat-form-field style="width:14vw">
            <mat-label>Company name</mat-label>
            <input [(ngModel)]="companyName" matInput placeholder="Google Inc." required>
          </mat-form-field>
        </span>
      </div>
      <div fxFlex="20%">
        <span>
          <mat-form-field style="width:14vw">
            <mat-label>Preferred language</mat-label>
            <mat-select [(value)]="preferredLanguage">
              <mat-option *ngFor="let language of languages" [value]="language">
                {{language}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </div>
    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="14%">
        <span>
          <mat-form-field style="width:10vw">
            <mat-label>Base load</mat-label>
            <input [(ngModel)]="baseLoad" matInput type="number" placeholder="100" required>
          </mat-form-field>
        </span>
      </div>
      <div fxFlex="14%">
        <span>
          <mat-form-field style="width:10vw">
            <mat-label>Peak load</mat-label>
            <input [(ngModel)]="peakLoad" matInput type="number" placeholder="200" required>
          </mat-form-field>
        </span>
      </div>
      <div fxFlex="14%">
        <span>
          <mat-form-field style="width:10vw">
            <mat-label>Max voltage</mat-label>
            <input [(ngModel)]="maxVoltageLevel" matInput type="number" placeholder="200" required>
          </mat-form-field>
        </span>
      </div>
    </div>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="20%"><button mat-raised-button color="accent" (click)="addCustomerClick()">Register
          customer and go
          to add windmill page</button>
      </div>
    </div>
    <div *ngIf="errorMessage != ''">
      <div class="center">
        <h1 class="errorMessage">{{errorMessage}}</h1>
      </div>
    </div>



    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="100%" class="dashboard-margin">
      </div>
    </div>
    <div id="nextButton">
      <p>
      </p>
    </div>
  </div>
</div>
