@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$custom-theme-primary: mat-palette($mat-orange, 700);
$custom-theme-accent:  mat-palette($mat-blue, A200);
$custom-theme-warn:  mat-palette($mat-red);
$custom-theme-theme:   mat-light-theme($custom-theme-primary, $custom-theme-accent);


// Include the default theme styles.
@include angular-material-theme($custom-theme-theme);

