<div class="center">
  <div class="toolbar-margin">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="90%">
        <h1>Energy Grid Region Noord-Brabant</h1>
      </div>
    </div>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="90%">
        <h3>Total Usage(in Kwh)</h3>
        <div *ngIf="gridUsage == -1 then loadUsageBlock else usageBlock"></div>
        <ng-template #loadUsageBlock>
          <mat-spinner></mat-spinner>
        </ng-template>
        <ng-template #usageBlock>
          <h1 class='dashboard-text'>{{gridUsage}}</h1>
        </ng-template>
      </div>

    </div>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="100%" class="dashboard-margin">
      </div>
    </div>

    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="90%">
        <h3>Total Generating(in Kwh)</h3>
        <div *ngIf="gridProduction == -1 then loadProducingBlock else producingBlock"></div>
        <ng-template #loadProducingBlock>
          <mat-spinner></mat-spinner>
        </ng-template>
        <ng-template #producingBlock>
          <h1 class='dashboard-text'>{{gridProduction}}</h1>
        </ng-template>
      </div>



    </div>
  </div>
</div>
