<app-line-graph [data]="usageDetails" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"></app-line-graph>
<div class="date-div">
    <h1>{{'dashboard.graph-date-header' | translate}}</h1>
    <mat-form-field>
        <mat-label>{{'dashboard.graph-minimumDate' | translate}}</mat-label>
        <input class="minDate" matInput [min]="minimumUsageDate" [max]="maximumUsagePickerValue" [matDatepicker]="minimumPicker" (dateChange)="onMinDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="minimumPicker"></mat-datepicker-toggle>
        <mat-datepicker #minimumPicker [startAt]="minimumUsageDate"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{'dashboard.graph-maximumDate' | translate}}</mat-label>
        <input class="maxDate" matInput [min]="minimumUsagePickerValue" [max]="maximumUsageDate" [matDatepicker]="maximumPicker" (dateChange)="onMaxDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="maximumPicker"></mat-datepicker-toggle>
        <mat-datepicker #maximumPicker [startAt]="maximumUsageDate"></mat-datepicker>
    </mat-form-field>
</div>