
<ng-container
*ngIf="isLoggedIn; then loggedIn; else loggedOut">
</ng-container>
<ng-template #loggedIn>
    <mat-toolbar class="toolbar" color="primary">
        <span><a href="/login">Energy Grid</a></span>
    <span class="fill-button"></span>
    <span class="toolbar-button"><button mat-raised-button color="accent" routerLink="/dashboard"> Dashboard</button></span>
    <span class="toolbar-button"><button mat-raised-button color="accent" routerLink="/add-customer" >Add Customer</button></span>
    <span class="toolbar-button"><button mat-raised-button color="accent" routerLink="/simulation">Simulation</button></span>
    <span class="toolbar-button"><button mat-raised-button color="accent" routerLink="/region-dashboard">Region Dashboard</button></span>
    <span class="fill-toolbar"></span>
    <span>Welcome, {{username}}</span>
    <span class="fill-button"></span>
    <span><button mat-raised-button color="accent" (click)="logOut()">Log out</button></span>
</mat-toolbar>
</ng-template>


<ng-template #loggedOut>
    <mat-toolbar color="primary">
        <span><a href="/login">Energy Grid</a></span>
        <span class="fill-toolbar"></span>
    </mat-toolbar>
</ng-template>

