.fill-toolbar {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .fill-button {
      width: 3%;
  }
  .toolbar-button {
      margin-right: 10px;
  }
  .toolbar {
      margin-bottom:100px;
  }

  a {
      text-decoration: none;
  }