<button class="language-button" mat-icon-button (click)="select.open()" color="accent">
  {{ 'toolbar.language' | translate }}

  <mat-icon svgIcon="{{ currentOption }}"></mat-icon>
  <mat-select #select class="langSelect">
    <mat-option (click)="changeLanguage('nl')">
      <mat-icon svgIcon="nl"></mat-icon>
      Nederlands
    </mat-option>
    <mat-option (click)="changeLanguage('en')">
      <mat-icon svgIcon="en"></mat-icon>
      English
    </mat-option>
  </mat-select>
</button>