.fill-toolbar {
  /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.fill-button {
  width: 2%;
}

.toolbar-button {
  margin-right: 10px;
}

.language-button {
  margin-right: 10px;

  .mat-icon {
    margin-top: -10px;
  }

}

.userText {
  margin-left: 15px;
}

a {
  text-decoration: none;
}



.mat-icon-button,
.mat-button {
  width: auto;
  padding: 0;
  font-size: 20px;
}

::ng-deep .mat-select-arrow {
  display: none !important;
}

.login {
  margin-right: 15px;
}

.toolbar {
  background-color: white;
  flex: 0 0 auto;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
