<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">
          {{ 'footer.summary'| translate }}
        </h5>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Power Price</h5>

        <ul class="list-unstyled">
          <li>
            <!-- hue hue hue -->
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">{{ 'footer.follow-us' | translate}} </a>
          </li>
          <li>
            <a href="#!">{{'footer.service' | translate}}</a>
          </li>

          <li>
            <a href="#!"> {{'footer.prices' | translate }}</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase"> {{ 'footer.overview' | translate}} </h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!"> {{ 'footer.disclaimer'| translate }}</a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Privacy Policy</a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Responsible disclosure</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href=""> Power Price @ Energyneers </a>
  </div>
  <!-- Copyright -->
</footer>
