#nextButton {
    position: fixed;
    bottom: -4px;
    right: 10px;
}
/*
mat-cell, .mat-cell {
  padding: 50px;
}*/
mat-header-cell, .mat-header-cell {
  padding: 12px 16px 12px 0;
}
/*
mat-header-cell .mat-header-cell{
  padding: 50px;
}*/