<form class="form">
  <div id="nextButton">
    <p>
      <span class="solar-panel-button"><button mat-raised-button color="accent" (click)="addSolarpanelClick()">Go to add
          solar panel page</button></span>
    </p>
  </div>
  <div class="center">
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="50%">
        <h1>Add windmills for customer</h1>
        <mat-form-field class="full-width">
          <mat-select required placeholder="Windmill type" [(value)]="selectedType">
            <mat-option *ngFor="let type of windmillTypes" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
          <mat-label>Amount</mat-label>
          <input matInput type="number" required [formControl]="windmillAmount">
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" (click)="addWindmillClick()">Add windmill</button>
        </div>
      </div>
      <div fxFlex="50%">
        <h1>Added windmills</h1>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef>{{column}}</th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
      </div>
    </div>
  </div>
</form>
